/* Custom styles */

.old-posts {
    padding: 20px 10px;
    background-color: rgb(226, 226, 226);
    margin: 20px 0;
}

.old-posts p {
    font-size: smaller;
    padding: 0;
    margin: 0;
}

.github p {
    text-align: right;
    font-size: smaller;
    color: rgb(66, 66, 66);
}

.github p a {
    text-decoration: none;
}


.author-figure {
    max-width: 200px;
}

.author-page .author-page-avatar {
    max-width: 250px;
    margin: 0 auto;
}


.authors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.authors-list .author-figure{
    font-size: smaller;
    display: block;
    margin: 1em 2em;
    width: 120px;
    text-align: center;
}

.authors-list .author-figure img {
    width: 100%;
    margin: 0 auto;
    max-width: 100px;
}

.authors-list figcaption {
    text-align: center;
}

.posts-single .author-figure {
    max-width: 150px;
}


.posts-single .author-figure img {
    margin: 0;
}

.posts-list .author-initials {
    min-width: 5em;
    width: 5em;
    padding: 0 3px;
}

.posts-list a {
    text-decoration: none;
}