/* Custom styles */

:root {
    --base-color: #4682b4;
    --ukraine-blue: #0959B8;
    --ukraine-yellow: #FED62E;

    --primary-color: var(--ukraine-blue);
}

.u-background {
    background-color: var(--ukraine-blue);
}

nav.u-background{
    border-bottom: 15px solid var(--ukraine-yellow);
}

article {
    color: rgb(65, 65, 65);
}

.cover-image-container img {
    object-fit: cover;
    object-position: center;
    height: 300px;
    width: 100%;
}

.home-summary .cover-image-container img {
    height: 80px;
    width: 25%;
    float: left;
    margin: 0 20px 10px 0;
}

@media only screen and (max-width: 600px) {
    .home-summary .cover-image-container img {
        height: 100px;
        width: 100%;
        display: block;
        margin: 0 auto 20px;
    }
  }

.read-more {
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .read-more {
        margin-bottom: 0.5rem;
    }
  }

.Tags {
    margin: 0rem 0 1.5rem 0;
}



figure.centered {
    margin:  0 auto;
    text-align: center;
}

figure figcaption p {
    margin-top: 5px;
    font-size: smaller;
    font-style: italic;
}

blockquote {
    color:  rgb(90, 90, 90);
    border-left: 5px solid var(--primary-color);
    padding-left:  15px;
    margin-left:  0px;
}

iframe.borderless {
    border:  0 solid;
}

.old-posts {
    padding: 20px 10px;
    background-color: rgb(226, 226, 226);
    margin: 20px 0;
}

.old-posts p {
    font-size: smaller;
    padding: 0;
    margin: 0;
}

.github p {
    text-align: right;
    font-size: smaller;
    color: rgb(66, 66, 66);
}

.github p a {
    text-decoration: none;
}


.author-figure {
    max-width: 200px;
}

.author-page .author-page-avatar {
    max-width: 250px;
    margin: 0 auto;
}


.authors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.authors-list .author-figure{
    font-size: smaller;
    display: block;
    margin: 1em 2em;
    width: 120px;
    text-align: center;
}

.authors-list .author-figure img {
    width: 100%;
    margin: 0 auto;
    max-width: 100px;
}

.authors-list figcaption {
    text-align: center;
}

.posts-single .author-figure {
    max-width: 150px;
}


.posts-single .author-figure img {
    margin: 0;
}

.posts-list .author-initials {
    min-width: 5em;
    width: 5em;
    padding: 0 3px;
}

.posts-list a {
    text-decoration: none;
}

.next-post, .previous-post {
    max-width: 50%;
}

.next-post {
    float: right;
}


.previous-post {
    float: left;
}


.u-clickable, article a {
    font-weight: inherit;
    text-decoration: none;
    color: var(--primary-color);
}

.Banner-link, .Tags-link{
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

.Banner-item--title a{
    font-size: 1.7rem;
}

.twitter-tweet-rendered {
    margin:  0 auto;
}